@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
  --light-blue: #66e2dc;
  --peach: #fa7453;
  --light-orange: #ffb964;
  --off-white: #fcfaf9;
  --black: #191826;
}

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  height: 300vh;
  width: auto;
  font-family: 'IBM Plex Sans', sans-serif;
  background-image: url('../images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}
